<article>
  <div class="container">
    <section class="main_area">
      <section class="content_area">
        <% if flash[:comment_error].present? %>
          <div class="alert">
            <%= flash[:comment_error] %>
          </div>
        <% end %>
        <p><%= l @post.created_at, format: :long %></p>
        <h1><%= @post.title %></h1>
        <div class="thumbnail_area">
          <% if @post.post_image.attached? %> 
            <%= image_tag @post.post_image, size: '300x300', class: "thumbnail_image" %> 
          <% end%>
        </div>
        <p class="blog_area"><%= @post.article %></p>
      </section>
      <section class="comment_area">
        <% if @post.comments.present? %>
          <% @post.comments.order(created_at: :desc).each do |comment| %>
            <p><%= l comment.created_at, format: :long %></p>
            <p><%= comment.name %></p>
            <p><%= comment.comment %></p>
            <% if logged_in? && current_user?(@post.user_id) %>
              <div class="btn_area">
                <div class="comment_edit_buttom">
                  <button class="open_modal" data-id=<%=comment.id %>>編集</button>
                </div>
                <div class="overlay"></div>
                <div class="modalWindow" id=<%= comment.id%>>
                  <p>コメントの編集ができます。</p>
                  <%= form_with model: comment, method: :patch do |f| %>
                    <%= f.label :comment , class: "form-control-label"%>
                    <%= f.text_area :comment, class: "form-control", value: comment.comment, size: "40x10" %>
                    <%= f.submit "編集", class: "btn"%>
                  <% end%>
                  <button class="close_modal">閉じる</button>
                </div>
                <div class="content_delete_buttom">
                  <%= link_to comment, method: :delete do %>
                    <button>削除</button>
                  <%end%>
                </div>
              </div>
            <% end%>
          <% end%>
        <% else %>
          <p>コメントはありません！</p>
        <% end %>
      </section>
      <section class="input_comment_area">
        <%= form_with model: Comment.new, :html => { role: 'form', :id => "comment_form" } do |f| %>
          <%= render 'layouts/error_form', model: @new_comments %>
          <p>名前</p>
          <%= f.text_field :name %>
          <p>コメント</p>
          <%= f.text_area :comment, size: "90x10" %>
          <%= f.hidden_field :post_id, value: @post.id %><br>
          <%= f.submit "投稿", class: "bottom_area", class: "btn" %>
        <% end %>
      </section>
    </section>
    <section class="sidebar_area">
      <% if logged_in? && current_user?(@post.user_id) %>
        <div class="btn_area">
          <div class="content_edit_buttom">
            <%= link_to "編集", edit_post_path(@post), class: "btn", method: :get %>
          </div>
          <div class="content_delete_buttom">
            <%= link_to "削除", post_path(@post), class: "btn", method: :delete %>
          </div>
        </div>
      <% end %>
      <% if @post.user_id? %> 
        <div class="profile_thumbnail_area">
          <% if @post.user_id? && @post.user.user_image.attached? %> 
            <%= image_tag @post.user.user_image, size: '300x300', class: "profile_thumbnail" %> 
          <% else %> 
            <%= image_tag "/no_image.png", class: "thumbnail_image" %>
          <% end%>
        </div>
        <div class="name_area">
          <%= @post.user.name %>
        </div>
        <% if @post.user.profile %> 
          <div class="profile_area">
            <%= @post.user.profile %>
          </div>
        <% end%>
        <% if @post.user.birthday %> 
          <div class="birthday_area">
            <%= l @post.user.birthday, format: :long %>
          </div>
        <% end%>
      <% end%>
    </section>
  </div>
</article>